RABBITMQ_URI=amqp://adminTest:adminTest@rabbitmq:5673
DATABASE_HOST=127.0.0.1
DATABASE_PORT=5432
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=''
DATABASE_NAME=scheduler
POSTGRES_HOST_AUTH_METHOD=trust
